body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: 'white';
  color: 'black';
  transition: all 0.3s ease;
}
body.dark-mode{
  background-color: #121212;
  color: white;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.card {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  height: 100px;
}
.card.flipped {
  transform: rotateY(180deg);
}

.best-score{
  margin-bottom: 24px;
}